.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

h1,
h2,
h3,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container__hidden-header {
  display: none;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, BlinkMacSystemFont, Oxygen, Ubuntu, Cantarell, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section--grey {
  background-color: #f5f4fa;
}

.button {
  display: inline-block;
  cursor: pointer;
  border: transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  color: #ffffff;
  background-color: #2196f3;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 1200px) {
  .flex-item {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .flex-item > .sample__item:not(:first-child),
  .flex-item > .team__item:not(:first-child) {
    margin-left: 30px;
  }
}

.section-header {
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section-header {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

@media screen and (min-width: 768px) {
  .container--flex {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .mobile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.38;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo--white {
  color: #ffffff;
  display: inline-block;
  margin-bottom: 20px;
}

.logo--black {
  color: #000000;
  padding: 16px 0px 16px;
  display: inline-block;
}

@media screen and (min-width: 768px) {
  .logo--black {
    padding: 26px 0px 26px;
  }
}

@media screen and (min-width: 1200px) {
  .logo--black {
    padding: 24px 0px 25px;
  }
}

.logo--accent {
  color: #2196f3;
}

.navigation {
  display: flex;
}

@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
}

.navigation--header {
  margin-left: 88px;
}

@media screen and (min-width: 1200px) {
  .navigation--header {
    margin-left: 93px;
  }
}

.navigation .item + .item {
  margin-left: 50px;
}

.navigation__link {
  color: #212121;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation__link--active {
  color: #2196f3;
  position: relative;
}

.navigation__link--active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.navigation__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover, .navigation__link:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .header-contacts {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .header-contacts {
    align-items: flex-start;
    flex-direction: row;
  }
}

.header-contacts--right {
  margin-left: auto;
}

@media screen and (min-width: 1200px) {
  .header-contacts .item + .item {
    margin-left: 50px;
  }
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contacts__item {
    display: block;
  }
  .header-contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.header-contacts__link {
  color: #757575;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .header-contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header-contacts__link:hover, .header-contacts__link:focus {
  color: #2196f3;
}

.header-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.hero {
  background-color: #2f303a;
  text-align: center;
  height: 400px;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 1600px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/banner_mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/banner_mobile_2x.jpg");
  }
}

@media screen and (min-width: 480px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/banner_tablet.jpg");
  }
}

@media (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/banner_tablet_2x.jpg");
  }
}

@media (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/banner_destop.jpg");
  }
}

@media (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/banner_desktop_2x.jpg");
  }
}

.hero--centered {
  margin-left: auto;
  margin-right: auto;
}

.hero-content {
  width: 100%;
}

@media screen and (min-width: 480px) {
  .hero-content {
    width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-content {
    width: 696px;
  }
}

.hero-content--centered {
  margin-left: auto;
  margin-right: auto;
}

.hero-content__title {
  color: #ffffff;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-size: 26px;
  line-height: 1.6;
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 26px;
  line-height: 42px;
}

@media screen and (min-width: 1200px) {
  .hero-content__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
  padding: 0px 15px;
}

@media screen and (min-width: 480px) {
  .backdrop {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .backdrop {
    padding: 0px;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50% scale(0.9));
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 90vw;
  height: 95vh;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
  text-align: left;
  z-index: 3;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    min-height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.modal-close__button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  background-color: #ffffff;
  fill: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close__button:hover, .modal-close__button:focus {
  fill: #2196f3;
}

.submit {
  text-align: center;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form__container {
  width: 448px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form__container:not(:nth-of-type(4)) {
  margin-bottom: 10px;
}

.form__container:nth-of-type(4) {
  margin-bottom: 20px;
}

.form-wrap {
  width: 100%;
}

.form-wrap:hover .input-wrap__icon,
.form-wrap:focus-within .input-wrap__icon {
  fill: #2196f3;
}

.form__header {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
  display: block;
  margin-bottom: 12px;
}

.form-wrap__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.input-wrap {
  position: relative;
}

.form-wrap--bottom {
  margin-bottom: 20px;
}

.input-wrap__text {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap__text:hover, .input-wrap__text:focus {
  border: 1px solid #2196f3;
  outline: 1px #2196f3;
}

.input-wrap__icon {
  fill: #212121;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-wrap__textarea {
  resize: none;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  padding: 12px 16px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-wrap__textarea:hover, .form-wrap__textarea:focus {
  border: 1px solid #2196f3;
  outline: 1px #2196f3;
}

.form-wrap__textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.agreement {
  display: block;
  position: relative;
  margin-bottom: 30px;
  padding-left: 24px;
  font-size: 12px;
  line-height: 1.16;
}

@media screen and (min-width: 1200px) {
  .agreement {
    font-size: inherit;
    line-height: 1.71;
  }
}

.agreement__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.agreement__checkbox:checked + .agreement__custom-checkbox {
  background-color: #2196f3;
  border-color: transparent;
  background-image: url("../images/check.svg");
  background-size: contain;
  background-origin: border-box;
}

.agreement__checkbox:focus + .agreement__custom-checkbox {
  border-color: #2196f3;
}

.agreement__custom-checkbox {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: solid 2px #212121;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement__link {
  color: #2196f3;
  text-decoration: underline;
}

@media screen and (min-width: 1200px) {
  .flex-item .benefit__item + .benefit__item {
    margin-left: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefit {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (max-width: 767px) {
  .benefit__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .benefit__item {
    flex-basis: calc(100% / 2 - 30px);
    margin: 30px 0px 0px 30px;
  }
}

.benefit__image {
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .benefit__image {
    margin-bottom: 30px;
  }
}

.benefit__title {
  color: #212121;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}

@media screen and (min-width: 767px) {
  .benefit__title {
    text-align: left;
  }
}

@media screen and (max-width: 1199px) {
  .section--no-padding {
    display: none;
  }
}

.product {
  position: relative;
}

.product__description {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

@media screen and (min-width: 1200px) {
  .product__description {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.product__text {
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.14;
  font-weight: 700;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.team__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .team__item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    flex-basis: calc(100% / 2 - 30px);
    margin: 30px 0px 0px 30px;
  }
}

.team__wrap {
  padding-top: 30px;
  padding-bottom: 24px;
}

@media screen and (min-width: 1200px) {
  .team__wrap {
    padding: 30px 32px;
  }
}

.team__member-name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
  text-align: center;
}

.team__member-position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social--grey {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .social--grey {
    margin: 0px;
  }
}

.social__button {
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.social__button:not(:first-child) {
  margin-left: 10px;
}

.social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: #2196f3;
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: #ffffff;
}

.social__link .social__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link--grey {
  background-color: rgba(255, 255, 255, 0.1);
}

.social__link--grey .social__icon {
  fill: #ffffff;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

@media screen and (min-width: 1200px) {
  .clients {
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
  }
}

.clients__list {
  width: 170px;
  height: 92px;
  flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .clients__list {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients__list {
    flex-basis: auto;
    margin: 0px;
  }
}

.clients__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border-color: #2196f3;
}

.clients__link:hover .clients__logo,
.clients__link:focus .clients__logo {
  fill: #2196f3;
}

.clients__logo {
  fill: #afb1b8;
}

.clients__logo {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .container__footer {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .container__footer {
    justify-content: space-between;
  }
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .footer-wrap {
    display: inline-block;
  }
}

.footer__navigation {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .footer__navigation {
    margin-bottom: 60px;
    display: inline-block;
  }
}

.footer__address {
  color: #ffffff;
  font-style: normal;
}

.footer__contacts {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__contacts:hover, .footer__contacts:focus {
  color: #2196f3;
}

.footer__navigation > li:not(:last-child) {
  margin-bottom: 9px;
}

@media screen and (max-width: 767px) {
  .subscribe {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: 93px;
  }
}

.subscribe__form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .subscribe__form {
    flex-direction: row;
    align-items: unset;
    justify-content: space-between;
  }
}

.subscribe__input {
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px 16px;
  background-color: inherit;
  color: #ffffff;
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .subscribe__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
    margin-bottom: 0px;
  }
}

.subscribe__button {
  display: flex;
  align-items: center;
  margin-left: 12px;
}

.subscribe__icon {
  margin-left: 10px;
}

@media screen and (min-width: 1200px) {
  .join--left {
    margin-left: 70px;
  }
}

.join__title {
  color: #ffffff;
  font-weight: 700;
  font-size: inherit;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .join__title {
    text-align: left;
  }
}

.menu-button {
  display: inline-flex;
  margin: 0px;
  padding: 0px;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button--close {
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu-button--close:hover, .menu-button--close:focus {
  color: #2196f3;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  transform: translateX(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

.mobile-menu.is-open {
  opacity: 1;
  transform: translateX(0);
}

.mobile-navigation__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-navigation__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-navigation__link:hover, .mobile-navigation__link:focus {
  color: #2196f3;
}

.mobile-contacts {
  margin-bottom: 64px;
}

.mobile-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contacts__link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.17;
}

.mobile-contacts__link--accent {
  color: #2196f3;
  font-size: 34px;
}

.mobile-contacts__link--grey {
  font-size: 24px;
  color: #757575;
}

.mobile-social {
  display: flex;
}

.mobile-social__item {
  position: relative;
  display: block;
}

.mobile-social__item:not(:first-child) {
  margin-left: 10px;
}

.mobile-social__item:not(:last-child) {
  padding-right: 10px;
}

.mobile-social__item:not(:last-child)::after {
  content: '';
  display: block;
  height: 22px;
  width: 1px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  position: absolute;
  top: 0;
  right: 0;
}

.mobile-social__link {
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .mobile-social__link {
    font-size: 18px;
  }
}

.header-portfolio {
  border-color: #ececec;
  border-width: 0px 0px 1px 0px;
  border-style: solid;
}

.selection {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .selection {
    justify-content: center;
    margin-bottom: 36px;
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 1200px) {
  .selection {
    margin-bottom: 50px;
  }
}

.selection__button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  border: transparent;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.selection__button:hover, .selection__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(131, 59, 59, 0.12);
}

.selection__button--accent {
  color: #ffffff;
  background-color: #2196f3;
}

.selection .selection__filter + .selection__filter {
  margin-left: 8px;
}

@media screen and (min-width: 768px) {
  .portfolio {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

.portfolio__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .portfolio__item {
    flex-basis: calc(100% / 2 - 30px);
    margin: 30px 0px 0px 30px;
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.portfolio__link {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__link:hover, .portfolio__link:focus {
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__link:hover .portfolio__overlay,
.portfolio__link:focus .portfolio__overlay {
  transform: translateY(0);
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
}

.portfolio__overlay-text {
  color: #ffffff;
  font-size: 18px;
  line-height: 1.55;
}

.portfolio__wrap {
  padding: 20px 24px;
  border-color: #eeeeee;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  flex-grow: 1;
}

.portfolio__title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio__descr {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.box-shadow {
  border: #eeeeee;
}
/*# sourceMappingURL=main.css.map */