@import './utils/variables';
@import './utils/utilities';

@import './components/common';
@import './components/header-container';
@import './components/logo';
@import './components/header-navigation';
@import './components/header-contacts';
@import './components/hero';
@import './components/backdrop';
@import './components/modal';
@import './components/modal-form';
@import './components/agreement';
@import './components/advantages';
@import './components/product';
@import './components/team';
@import './components/social-links';
@import './components/clients';
@import './components/footer';
@import './components/subscribe';
@import './components/footer-join';

@import './components/mobile-menu';
@import './components/mobile-contacts';

@import './components/portfolio-header';
@import './components/portfolio-selection';
@import './components/portfolio';
