.navigation {
  display: flex;
  @media screen and(max-width:767px) {
    display: none;
  }
}
.navigation--header {
  margin-left: 88px;
  @media screen and(min-width:1200px) {
    margin-left: 93px;
  }
}
.navigation .item + .item {
  margin-left: 50px;
}
.navigation__link {
  color: $secondary-text-colour;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.navigation__link--active {
  color: $accent-colour;
  position: relative;

  &::after {
    content: '';
    position: absolute;

    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-colour;
  }
}
.navigation__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-colour;
  }
}
