.social {
  display: flex;
  align-items: center;
  justify-content: center;
}
.social--grey {
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    margin: 0px;
  }
}
.social__button {
  border-radius: 50%;
  width: 44px;
  height: 44px;

  &:not(:first-child) {
    margin-left: 10px;
  }
}
.social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $accent-colour;
  }
  .social__link--accent {
  }
  &:hover .social__icon,
  &:focus .social__icon {
    fill: $primary-white-colour;
  }
  & .social__icon {
    fill: $link-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.social__link--grey {
  background-color: $footer-svg-background;
  & .social__icon {
    fill: $primary-white-colour;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
