$logo-text-colour: #000000;
$main-text-colour: #757575;
$secondary-text-colour: #212121;
$accent-colour: #2196f3;
$footer-text-colour: rgba(255, 255, 255, 0.6);
$primary-white-colour: #ffffff;
$footer-background: #2f303a;
$background-color: #f5f4fa;
$shadow-color: #eeeeee;
$header-border-color: #ececec;
$link-color: #afb1b8;
$footer-svg-background: rgba(255, 255, 255, 0.1);
$backdrop-color: rgba(0, 0, 0, 0.2);
$overlay-color: rgba(33, 150, 243, 0.9);
$product-overlay: rgba(47, 48, 58, 0.8);
$input-border: rgba(33, 33, 33, 0.2);
$textarea-color: rgba(117, 117, 117, 0.5);
